.chart-icons {
    position: absolute;
    top: 60%;
    left: 80%;
    opacity: $opacity;
    text-shadow: $shadow;
}

.fa-key {
    color: $green;
}

.fa-users {
    color: $orange;
}

.fa-exclamation-triangle {
    color: $red;
}

.fa-home {
    color: $blue;
}

.social-media {
    color: $white;
}

.card-title {
    color: $red;
}

.dc-chart g.row text {
    font-size: $chartLabel;
}

.dc-chart .pie-slice {
    font-size: $chartLabel;
}

.pop-over {
    position: absolute;
    top: 70%;
    left: 80%;
}

#area-selector {
    padding: 5px;
    font-size: 1.5rem;
    box-shadow: $shadow;
    background: #fff !important;
    border: none;
}

.dc-select-menu {
    background: #fff !important;
    border: none;
    padding: 5px;
}

