h1 {
    font: {
        weight: 700;
        size: 2rem;
    }
    text-align: center;
    @include page-headers-font;
    @media (min-width: $tablet-width) {
        font: {
        size: 3rem;
        }
    }
}

h3 {
    @include chart-headers-font;
    color: $white;
    margin-top: 1rem;

    font: {
        weight: 600;
    }
}

h4 {
    @include chart-headers-font;
    font: {
        size: 1rem;
        weight: 400;
    }
}

// style chart headings
@for $i from 1 through 4 {
    .#{$class-name}-#{$i} {
        border: {
            left: black solid .2rem;
        }
        padding: {
            left: .5rem;
            top: .5rem;
        }
        margin-top: 1.5rem;
    }
}

h5 {
    text-align: left;
}

.info-color {
    color: #17a2b8;
}

.dissolve {
    font-size: 2rem;
    color: rgb(220, 53, 69);
    font-weight: 600;
}