.info-modal {
    background: #155475;
    padding: 2rem;
    border-radius: 22px;
    position: absolute;
    display: none;
    box-shadow: $shadow;
    z-index: 100;
}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}