#landing-alert {
    font: {
        size: 4rem;
        weight: 200;
    }
    @include page-headers-font;
    color: #000;
    box-shadow: 12px 10px 9px #525050;
    width: 90%;
    font-size: 2.8rem;
    position: fixed;
    top: 20%;
    z-index: 10;
}

ol {
    padding: {
        left: 4rem;
    }

}