p {
    @include para-font;
    font: {
        size: 1rem;
        weight: 200;
    }
    color: $white;
    text-align: justify;
}

.side-text-box {
    background: #000000ad;
    padding: 2rem;
    box-shadow: $shadow;
    margin-left: 2rem;
    margin-right: 2rem;
    overflow: auto;
}

