@mixin logo ($size) {
    height: $size;
    opacity: $opacity;
    display: block;
    margin: auto;
}

@mixin page-headers-font {
    font-family: "Cabin Sketch";
}

@mixin chart-headers-font {
    font-family: "Neucha";
}

@mixin para-font {
    color: $white;
    text-align: justify;
    font: {
        family: "Special Elite";
        size: .8rem;
        weight: 700;
    }
    @media (min-width: $tablet-width) {
        font: {
        size: 1rem;
        }
    }
}