// Variables
$green: #306E12;
$red: #801F15;
$orange: #B46810; 
$blue: #143153;
$white: #fff;
$black: #000;

$opacity: 0.5;

$shadow: 3px 6px 12px black !important;

$width: 100%;
$height: 5rem;
$margin: 1.5rem;
$margin-top: .5rem;

$chartLabel: 1.5rem;

$class-name: chart-heading;
