.btn-nav {
    white-space: normal;
    line-height: .2;
    display: block;
    margin: auto;
}

.center-block {
    line-height: 1.1rem;
}

.badge {
    display: block;
    width: 33%;
    margin: auto;
    margin-top: 3rem;
}

i {
    padding: 10px;
}