.btn-nav {
    white-space: normal;
    line-height: .2;
    display: block;
    margin: auto;
}

.center-block {
    line-height: 1.1rem;
}

.badge {
    position: absolute;
    top:50%;
    left: 90%;
}