.btn-nav {
    white-space: normal;
    line-height: .2;
    display: block;
    margin: auto;
}

.center-block {
    line-height: 1.1rem;
}

.badge {
    display: block;
    width: 66%;
    margin: auto;
    margin-top: 3rem;
    box-shadow: $shadow;
}

i {
    padding: 10px;
}

.foot {
    margin-bottom: 1rem;
}